<!doctype html>

<html lang = "en">
    <head>
        <title>Sentiment Analysis</title>
        <style>
        ul { background-color: #524b6b;
            margin: 0;

            }
        </style>
    </head>
</html>

<ul>
    <h1 style="text-align:center">This site is for twitter sentiment analysis!!!</h1>
</ul>

<body>
    <button onclick="location.href = '{% url 'second' %}'">Download tweet</button><hr>

</body>


<!--For the getting all the tweets listed --> 
<ol>
    {% for text in tweet%}
<li>{{text}}</li>
<br/>
    {% endfor %}
</ol>


